# Dépendances
/node_modules
/.pnp
.pnp.js

# Tests
/coverage

# Production
/build

# Divers
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# Ignorer les fichiers de configuration spécifiques à ESLint
.eslintcache

# Ignorer les fichiers de build générés par Vite
dist/