

.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0,0,0);
  display: flex;
  align-items: center;
  justify-content: center;
  




  
  .card {
     width: 60%;
     display: flex;
     background-color: white;
     border-radius: 10px;
     min-height: 600px;
     overflow: hidden;
     
     


    .left {
      flex: 1;
      background: linear-gradient(rgba(169, 169, 169, 0.5),rgba(39,11,96,0.5)), url(https://cdn.www.elektron.se/media/wysiwyg/Syntakt-hero1.jpg) center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;


      h1 {
        font-size: 100px;
        line-height: 100px;

      }
      p {

      }
      span {
        font-size: 14px;

      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #5049c6;
        font-weight: bold;
        cursor: pointer;

      }
    }

    .right {
      flex: 1;
      padding: 10%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: #555;

      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;

        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #5752b9;
          color: white;
          font-weight: bold;
          cursor: pointer;

        }
      }
    }
  }
}